@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: "Roboto Slab";
}
#particles-js{
    background-color: #000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 2200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.principal{
    animation: aparecerLentamente 3s ease forwards;
    width: 180px;
    height: 100%;
    transition: 1s;
}

.principal:hover{
    transform: scale(1.1);
}

main{
    position: absolute;
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}
section {
    display: flex;
    width: 1200px;
}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    margin: 25px;
    animation: aparecerLentamente 6s;
}
main > h1:nth-of-type(2){
    margin: 50px 0 25px 0;
}
h2{
    color:#ffffff;
    margin-top: 10px;
    margin-bottom: 45px;
}
section p{
    color: #ffffff;
    text-align: justify;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
}
.card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: transparent;
    width: 300px;
    height: 826px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: subir 1.25s;
}
.adm{
    margin:auto;
}
.card img{
    top:0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:6px solid white;
    animation: aparecerLentamente 6s;
}
a{
    cursor: pointer;
    text-decoration: none;
}
button{
    font-family: "Roboto Slab";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 0.625rem; 
    border-color: transparent;
    width: 165px;
    height: 45px;
    color: black;
    font-size: 23px;
    transition: 1s;
    cursor: pointer;
    animation: aparecerLentamente 3s ease forwards;
} 

button:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-color: transparent;
    background: #006400;
    color: #ffffff;
    border:1px solid #006400;
}
a ion-icon{
    width:30px;
    height: 200px;
}
aside{
    animation: subir 1.25s;
    margin-top: 80px;
    width: 100%;
    border-top: 2px solid white;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;

}
.conjunto{
    display: flex;
    justify-items: center;
    align-items: center;
    gap:6px;
}
.conjunto p{
    color: white;
    font-size: 20px;
}
.conjunto p:hover{
    text-decoration:underline;
}
.conjunto ion-icon{
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color:white;
    border-radius: 40%;
}
.conjunto .insta:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.conjunto .ponteiro:hover{
    background: red;
    color: white;
}
.conjunto .email:hover{
    background: #0593f1;
    --ionicon-stroke-width: 32px;
}
.conjunto a{
    gap:6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:300px) and (max-width:1020px){
    #particles-js{
        height: 4800px;
    }
    main{
        height: 4800px;
    }
    section{
        display: flex;
        gap:18px;
        flex-direction: column;
    }
    h1{
        font-size: 25px;
    }

    aside{
        flex-direction: column;
        width: auto;
    }
}

@media (min-width:1020px) and (max-width:1440px){
    #particles-js{
        height: 2200px;
    }
    main{
        height: 2200px;
    }
    section{
        width: 1000px;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
    }
    aside{
        width: 100%;
    }

}

@keyframes subir {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes aparecerLentamente {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
