@keyframes aparecerLentamente {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#particles-js{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 1900px;
}

main{
    animation: aparecerLentamente 3s ease forwards;
    top: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;

}

h1{
    animation: aparecerLentamente 3s ease forwards;
    color: white;
    text-align: center;
    font-size: 40px;
    margin: 25px 0;
    animation: aparecerLentamente 6s;
}

section {
    animation: aparecerLentamente 3s ease forwards;
    width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

section p, ul li{
    animation: aparecerLentamente 3s ease forwards;
    color:white;
    text-align: justify;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
}

.card{
    animation: aparecerLentamente 3s ease forwards;
    border:5px solid rgb(193, 193, 223);
    width: 900px;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: subir 1.25s;
}
.pai{
    margin-top: 20px;
    animation: aparecerLentamente 3s ease forwards;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
}
.pai h1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:3px solid rgb(193, 193, 223);;
    height: 200px;
    padding: 20px;
}
.visao h1{
    padding: 35px;
}
.missao, .visao, .valores{
    border:5px solid rgb(193, 193, 223);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap:10px;
    margin-bottom: 15px;
    padding: 0 10px;
}
.valores h1{
    height: 300px;
}

